.skill-section {
  background-color: var(--black-light-color);

  .skill-container {
    padding: 0 80px;
    .skill-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto;
      text-align: center;
      gap: 20px;
      .skill-box {
        width: 100%;
        height: 200px;
        background-color: var(--body-color);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        img {
          max-width: 100%;
          height: 50px;
        }
        p {
          color: var(--white-color);
          text-transform: capitalize;
        }
      }
    }
    .skill-progresses {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 20px 30px;
      width: 100%;
      margin-top: 50px;
      p {
        margin-bottom: 10px;
        color: var(--white-color);
      }
      .line {
        position: relative;
        width: 100%;
        height: 15px;
        border-radius: 2px;
        background-color: var(--progress-color);
        .value {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 0%;
          height: 100%;
          top: 0;
          left: 0;
          color: var(--white-color);
          background-color: var(--theme-color);
          border-radius: 2px;
          font-size: 12px;
          padding-right: 10px;
          &.html-css,
          &.js {
            width: 90%;
          }
          &.reactjs {
            width: 85%;
          }
          &.nodejs,
          &.mongodb {
            width: 80%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .skill-section {
    .skill-container {
      .skill-list {
        grid-template-columns: repeat(3, 1fr);
        grid-column: auto;
      }
    }
  }
}

@media screen and (min-width: 400px) and (max-width: 766px) {
  .skill-section {
    .skill-container {
      padding: 0 30px;
      padding-bottom: 50px;
      .skill-list {
        grid-template-columns: repeat(2, 1fr);
        grid-column: auto;
      }
      .skill-progresses {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .skill-section {
    .skill-container {
      padding: 0 30px;
      padding-bottom: 50px;
      .skill-list {
        grid-template-columns: repeat(1, 1fr);
        grid-column: auto;
      }
      .skill-progresses {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
