.home-section {
  background-color: var(--body-color);
  background-image: url("../../assets/image/hero-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  .home-container {
    width: 100%;
    padding: 0 80px;
    .content {
      margin-top: 100px;
      position: relative;
      .introduce {
        h1 {
          font-size: var(--h1-font-size);
          color: var(--white-color);
          font-weight: 300;
        }
        h4 {
          display: block;
          margin: 10px 0;
          font-size: var(--biggest-font-size);
          color: var(--white-color);
          font-weight: 700;
          line-height: 1;
          letter-spacing: -1px;

          span {
            position: relative;
          }
        }
        a.home-btn {
          text-transform: capitalize;
          margin-top: 20px;
          transition: var(--transition);
          &:hover {
            filter: brightness(1.1);
          }
        }
      }
      .info {
        margin-top: 50px;
        display: flex;
        align-items: center;
        .info-box {
          &:nth-child(1) {
            padding-right: 30px;
          }
          &:not(:first-child) {
            padding: 0 30px;
            border-left: 1px solid var(--white-color);
          }
          h4 {
            margin-bottom: 10px;
            font-size: var(--h4-font-size);
            text-transform: capitalize;
            color: var(--white-color);
          }
        }
        .scroll {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          z-index: 10;
          margin-left: 50px;
          .scroll-mouse {
            position: relative;
            height: 38px;
            width: 25px;
            border: 2px solid var(--white-color);
            border-radius: 50px;
            animation: mouseDown 2.5s ease-in-out infinite;
            &::before {
              position: absolute;
              content: "";
              top: 8px;
              left: 50%;
              width: 2px;
              height: 8px;
              margin-left: -1px;
              background-color: var(--white-color);
              border-radius: 50rem;
            }
          }
          .line {
            width: 1px;
            height: 40px;
            background-color: var(--white-color);
            margin-top: 20px;
            transform-origin: top;
            animation: length 2.5s ease-in-out infinite;
          }
        }
      }
    }
  }
}
@keyframes mouseDown {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes length {
  0% {
    transform: scaleY(1.1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1.1);
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .home-section {
    background: var(--body-color);
    .home-container {
      .content {
        .introduce {
          h1 {
            font-size: calc(1.375rem + 1.5vw);
          }
          h4 {
            font-size: calc(1.525rem + 3.3vw);
          }
        }
        .info {
          .scroll {
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-section {
    background: var(--body-color);
    .home-container {
      padding: 0 30px;
      .content {
        .introduce {
          h1 {
            font-size: calc(1.375rem + 1.5vw);
          }
          h4 {
            font-size: calc(1.525rem + 3.3vw);
          }
        }
        .info {
          align-items: flex-start;
          flex-direction: column;
          gap: 20px;
          .info-box {
            border-left: 1px solid var(--white-color);
            padding: 0 0 0 20px !important;
          }
          .scroll {
            margin: 0;
          }
        }
      }
    }
  }
}
