.contact-section {
  background-color: var(--black-light-color);
  .contact-container {
    padding: 80px;
    .message-form {
      width: 100%;
      display: flex;
      gap: 50px;
      h4 {
        font-size: var(--h4-font-size);
        color: var(--white-color);
        text-transform: capitalize;
        margin-bottom: 20px;
      }
      .form {
        width: 60%;
        .row {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          .input-box {
            width: 50%;
          }
        }
        .input-box {
          width: 100%;
          height: 40px;
          margin-bottom: 20px;
          input {
            width: 100%;
            height: 100%;
            padding: 9px 20px;
            font-size: 16px;
            background-color: var(--body-color);
            color: var(--text-color);
            outline: none;
            border: none;
            border-bottom: 1px solid var(--border-input);
            &:focus {
              border-bottom: 1px solid var(--theme-color);
            }
          }
        }
        textarea {
          width: 100%;
          height: 100px;
          padding: 9px 20px;
          font-size: 16px;
          font-family: var(--primary-font);
          background-color: var(--body-color);
          color: var(--text-color);
          outline: none;
          border: none;
          resize: vertical;
          margin-bottom: 20px;
          border-bottom: 1px solid var(--border-input);
          &:focus {
            border-bottom: 1px solid var(--theme-color);
          }
          &::placeholder {
            font-family: var(--primary-font);
            font-size: 16px;
          }
        }
        button {
          background-color: var(--theme-color);
          outline: none;
          border: none;
          padding: 15px 30px;
          text-transform: capitalize;
          color: var(--white-color);
          transition: var(--transition);
          cursor: pointer;
          &:hover {
            filter: brightness(1.1);
          }
        }
      }
      .information-container {
        width: 40%;
        .information-content {
          margin-top: 20px;
          display: flex;
          .icons {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            padding-right: 30px;
            border-right: 2px solid var(--border-input);
            i {
              font-size: 28px;
              color: var(--theme-color);
            }
          }
          .information {
            flex: 1;
            padding-left: 30px;
            .information-box {
              margin-bottom: 15px;
              h6 {
                margin-bottom: 5px;
                font-size: var(--primary-font-size);
                color: var(--white-color);
                text-transform: capitalize;
              }
              p {
                display: block;
                line-height: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .contact-section {
    .contact-container {
      padding: 80px 30px;
      .message-form {
        flex-direction: column;
        .form,
        .information-container {
          width: 100%;
        }
      }
    }
  }
}
