.exp-section {
  background-color: var(--black-light-color);
  .exp-container {
    padding: 0 80px;
    .time-line {
      position: relative;
      width: 100%;
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: var(--white-color);
        top: 0;
        left: 47.5%;
      }
      .container {
        position: relative;
        .text-box {
          position: relative;
          width: 45%;
          padding: 30px;
          background-color: var(--background-color);
          border-radius: 10px;

          // before right and left
          &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            background-color: var(--background-color);
            top: 30px;
            transform: rotate(45deg);
          }
          &.right::before {
            left: -10px;
          }
          &.left::before {
            right: -10px;
          }

          // text-box right and left
          &.right {
            left: 50%;
          }
          &.left {
            left: 0;
          }
          h5 {
            font-size: var(--h5-font-size);
            color: var(--white-color);
            text-transform: capitalize;
          }
          span {
            display: block;
            margin: 10px 0;
            text-transform: capitalize;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .exp-section {
    .exp-container {
      .time-line {
        .container {
          .text-box {
            &.right {
              left: 53%;
            }
            &.left {
              left: -13px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .exp-section {
    .exp-container {
      padding: 0 30px;

      .time-line {
        &::before {
          left: 0;
        }
        .container {
          margin-top: 20px;
          .text-box {
            width: 90%;
            &.right {
              left: 8%;
            }
            &.left {
              left: 8%;
            }
            &.left::before {
              left: -10px;
            }
          }
        }
      }
    }
  }
}
