aside {
  position: fixed;
  top: 260px;
  left: -100px;
  z-index: 100;
  transform: rotate(90deg);
  .container {
    display: flex;
    align-items: center;
    p {
      text-transform: capitalize;
      color: var(--white-color);
    }
    .line {
      width: 50px;
      height: 1px;
      background-color: var(--white-color);
      margin: 0 15px;
    }
    ul {
      display: flex;
      align-items: center;

      li {
        transform: rotate(-90deg);
        margin: 0 8px;
        transition: var(--transition);
        &:hover a {
          color: var(--theme-color);
        }
        a {
          color: var(--white-color);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .side-bar {
    display: none;
  }
}
