.portfolio-section {
  background-color: var(--black-light-color);
  .portfolio-container {
    padding: 0 80px;
    .portfolios {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      gap: 30px 50px;
      padding: 0 80px;
      .portfolio-box {
        width: 100%;
        height: 250px;
        position: relative;
        .portfolio-content {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            opacity: 0;
            z-index: 1;
          }
          &:hover::before {
            opacity: 1;
          }
          &:hover .portfolio-desc {
            transform: translateY(0);
            opacity: 1;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
          .portfolio-desc {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0 10px;
            border-radius: 10px;
            flex-direction: column;
            transform: translateY(30%);
            opacity: 0;
            transition: 0.5s ease;
            z-index: 5;
            h5 {
              font-size: var(--h5-font-size);
              text-transform: capitalize;
              color: var(--white-color);
              margin: 5px 0;
            }
            p {
              margin: 5px 0;
              font-size: 13px;
              text-align: center;
            }
            a {
              color: var(--theme-color);
              text-transform: capitalize;
              font-weight: 600;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .portfolio-section {
    .portfolio-container {
      .portfolios {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .portfolio-section {
    .portfolio-container {
      padding: 0 30px;
      .portfolios {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
      }
    }
  }
}
